.container {
  max-width: 1280px;
  text-align: center;
  margin: auto; }

* {
  margin: 0;
  padding: 0; }

body {
  font-family: 'Open Sans', sans-serif; }

ul {
  list-style-type: none; }

a {
  text-decoration: none; }

#main-nav {
  height: 100vh;
  width: 250px;
  width: 75px;
  background: #303030;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  overflow: hidden;
  transition: all .5s ease-in-out;
  white-space: nowrap; }
  #main-nav ul {
    padding-top: 2rem; }
  #main-nav li {
    font-size: 1.5rem; }
  #main-nav span {
    padding-left: 2rem; }
  #main-nav a {
    display: block;
    text-align: left;
    color: #aaabb8;
    transition: all .5s;
    padding: 1.5rem 1.5rem; }
    #main-nav a:hover {
      color: white;
      background: #25274d; }
  #main-nav:hover {
    width: 275px; }
  #main-nav .nav-logo {
    height: auto;
    width: auto;
    max-height: 70px;
    padding-top: 2rem; }

#home {
  height: 100vh;
  background: url(/img/bg-1.png) no-repeat center center/cover; }
  #home .title {
    display: flex;
    align-items: center;
    justify-content: left;
    padding-top: 3rem; }
    #home .title img {
      height: auto;
      width: auto;
      max-height: 125px; }
    #home .title div h1 {
      font-size: 2.5rem;
      color: white; }
    #home .title div span {
      float: left;
      color: white; }
  #home #home-a {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-top: 2rem; }
    #home #home-a .left h1 {
      font-size: 2.5rem;
      padding-left: 3rem;
      color: #464866;
      text-align: left; }
    #home #home-a .right span {
      color: #0072ae; }
    #home #home-a .right h1 {
      font-size: 1.5rem;
      padding: 0 3rem; }
    #home #home-a .right .header-img {
      height: auto;
      width: auto;
      max-height: 300px;
      border-radius: 50%; }
