.container {
  overflow: hidden;
  padding-left: 75px;
  margin: auto; }

* {
  margin: 0;
  padding: 0; }

body {
  font-family: 'Open Sans', sans-serif; }

ul {
  list-style-type: none; }

a {
  text-decoration: none; }

#main-nav {
  height: 100vh;
  width: 250px;
  width: 75px;
  background: #222;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  overflow: hidden;
  transition: all .5s ease-in-out;
  white-space: nowrap; }
  #main-nav ul {
    padding-top: 2rem; }
  #main-nav li {
    font-size: 1.5rem; }
  #main-nav span {
    padding-left: 2rem; }
  #main-nav a {
    display: block;
    text-align: left;
    color: #aaabb8;
    transition: all .5s;
    padding: 1.5rem 1.5rem; }
    #main-nav a:hover {
      color: white;
      background: #29648a; }
  #main-nav .nav-logo {
    height: auto;
    width: auto;
    max-height: 70px;
    padding-top: 2rem;
    transition: all .5s ease-in-out; }
  #main-nav:hover {
    width: 275px; }

#home {
  height: 100vh;
  background: url(/img/gray-blue-test.png) no-repeat center center/cover;
  position: relative; }
  #home .title {
    display: flex;
    align-items: center;
    justify-content: right;
    padding: .5rem 0;
    padding-right: 2rem; }
    #home .title img {
      height: auto;
      width: auto;
      max-height: 100px; }
    #home .title div {
      padding-right: 1.5rem; }
      #home .title div h1 {
        font-size: 2.5rem;
        color: white; }
      #home .title div span {
        float: right;
        color: white; }
  #home #landing-content {
    margin-top: 45vh; }
    #home #landing-content h1 {
      color: white;
      padding: 3rem;
      font-size: 2.75rem; }
      #home #landing-content h1 span {
        color: #0072ae; }
    #home #landing-content .blink {
      margin-top: 10vh;
      text-align: center;
      color: white;
      animation: blink 3s linear infinite; }
      #home #landing-content .blink a {
        color: white; }

@keyframes blink {
  50% {
    opacity: 0; } }
