// Variables

$website-width: 1280px;
$primary-color: #29648a;
$secondary-color: #2e9cca;
$tertiary-color: #25274d;
$dark-color: #464866;
$light-color: #aaabb8;
$darker-color: #303030;
$eye-color: #0072ae;