@import 'config';
@import 'utilities';

* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Open Sans', sans-serif;
    background: #f9f9f9;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

#main-nav {
    height: 100vh;
    width: 250px;
    width: 75px;
    // rgb 48 48 48
    // background: $darker-color;
    background: #222;
    position: fixed;
    z-index: 999;
    top: 0;
    // left: -175px;
    left: 0;
    overflow: hidden;
    transition: all .5s ease-in-out;

    // Stops nav item text from wrapping and appearing below
    white-space: nowrap;
    
    ul {
        padding-top: 2rem;
    }

    li {
        font-size: 1.5rem;
    }
    
    span {
        padding-left: 2rem;
    }

    .nav-item {
        display: block;
        text-align: left;
        color: $light-color;
        transition: all .5s;
        padding: 1.5rem 1.5rem;
        &:hover {
            color: white;
            background: $primary-color;
        }
    }

    // logo in nav
    .nav-logo {
        height: auto;
        width: auto;
        max-height: 70px;
        padding-top: 2rem;
        transition: all .5s ease-in-out;
    }

    &:hover {
        // left: 0;
        width: 275px;

        // .nav-logo {
        //     padding-left: 5rem;
        //     max-height: 100px;
        // }
    }
}

#home {
    #home-a {
        height: 100vh;
        background: url(/img/gray-blue-test.png) no-repeat center center/cover;
        position: relative;
    
        .title {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            padding: .5rem 0;
            padding-right: 2rem;
            // background: #f9f9f9;
            // background: rgba(0, 0, 0, 0.5);
    
            img {
                height: auto;
                width: auto;
                max-height: 100px;
            }
            div {
                padding-right: 1.5rem;
                h1 {
                    font-size: 2.5rem;
                    // color: $darker-color;
                    color: white;
                }
                span{
                    float: right;
                    // color: $eye-color;
                    color: white;
                }
            }
        }
    
        #landing-content {
            margin-top: 45vh;
            position: relative;
            
            h1 {
                color: white;
                padding: 3rem;
                font-size: 2.75rem;
    
                span {
                    color: $eye-color;
                }
            }
        }
        .blink {
            margin-top: 10vh;
            // position: absolute;
            // left: 45%;
            // bottom: 3%;
            text-align: center;
            color: white;
            animation: blink 3s linear infinite;

            a {
                color: white;
            }

            @keyframes blink {
                50% {
                    opacity: 0;
                }
            }
        }
    }
    
    #home-b {
        background: url(/img/webb.png) repeat;
        .container {
            display: grid;
            // gap: 2rem;
            grid-template-columns: 2fr 1fr 1fr;
        }
    
        // Our prosthetics needs special formatting for inner content
        #our-prosthetics {
            .inner-cols {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 1rem;
                text-align: center;
                
                div{
                    padding: .5rem;
                    background: #ededed;
                    border-radius: 15px;
                }
            }
        }
    
        // cards need individual margin corrections for gaps
        #experience {
            margin-left: 0;
        }
        #coverage {
            margin-left: 0
        }
    }
}

#about {
    // height: 100vh;
    background: url(/img/webb.png) repeat;
    #about-a {
        position: relative;
        
        .container {
            position: relative;
        }

        img {
            width: 100%;
            height: 35vh;
            justify-content: center;
            object-fit: cover;
            box-shadow: 0px 5px 10px #cccccc;
        }

        .cards {
            // display: grid;
            // grid-template-columns: repeat(2, 1fr);
            margin: 0 5rem;
        }

        .background {
            height: 100%;
            
            .about-phil {
                display: grid;
                grid-template-columns: 200px 1fr;
                gap: 1.5rem;
                // margin-left: 0;

                img {
                    height: auto;
                    width: auto;
                    max-width: 200px;
                    border-radius: 15px;
                    border: 5px #ccc solid;
                }

                h2 {
                    padding-bottom: .5rem;
                }

                div {
                    padding-left: 1rem;
                }
            }
        }
    }
}

#contact {
    .map-test{
        iframe {
            width: 100%;
        }
    }
}

// FOOTER
#footer {
    padding: 3rem;
    box-shadow: 0px 0px 10px #cccccc;

    .footer-content {
        display: flex;
        justify-content: space-between;
        color: #222;

        .footer-left {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .footer-title {
                display: flex;
                align-items: center;
                img {
                    height: auto;
                    width: auto;
                    max-height: 50px;
                }
                h1 {
                    font-size: 1.5rem;
                }
            }
        }

        .locations {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 2.5rem;
            text-align: right;

            h1 {
                text-transform: uppercase;
                padding-bottom: 1rem;
            }

            .bottom-line {
                justify-content: right;
            }
        }
    }
}