@import 'config';
@import 'utilities';

* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Open Sans', sans-serif;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

#main-nav {
    height: 100vh;
    width: 250px;
    width: 75px;
    // rgb 48 48 48
    // background: $darker-color;
    background: #222;
    position: fixed;
    z-index: 999;
    top: 0;
    // left: -175px;
    left: 0;
    overflow: hidden;
    transition: all .5s ease-in-out;

    // Stops nav item text from wrapping and appearing below
    white-space: nowrap;
    
    ul {
        padding-top: 2rem;
    }

    li {
        font-size: 1.5rem;
    }
    
    span {
        padding-left: 2rem;
    }

    .nav-item {
        display: block;
        text-align: left;
        color: $light-color;
        transition: all .5s;
        padding: 1.5rem 1.5rem;
        &:hover {
            color: white;
            background: $primary-color;
        }
    }

    // logo in nav
    .nav-logo {
        height: auto;
        width: auto;
        max-height: 70px;
        padding-top: 2rem;
        transition: all .5s ease-in-out;
    }

    &:hover {
        // left: 0;
        width: 275px;

        // .nav-logo {
        //     padding-left: 5rem;
        //     max-height: 100px;
        // }
    }
}

#home-a {
    height: 100vh;
    // background: url('https://images.unsplash.com/photo-1506744038136-46273834b3fb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80')no-repeat center center/cover;
    // background: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.25)), url('https://images.unsplash.com/photo-1507992781348-310259076fe0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80') no-repeat center center/cover;

    // background: linear-gradient(rgba(0, 114, 174, 0.7),rgba(0, 0, 0, 0.5)),url(/img/alexandru-zdrobau-4bmtMXGuVqo-unsplash.jpg) no-repeat center center/cover;

    background: url(/img/gray-blue-test.png) no-repeat center center/cover;

    position: relative;

    .title {
        display: flex;
        align-items: center;
        justify-content: right;
        padding: .5rem 0;
        padding-right: 2rem;
        // background: #f9f9f9;
        // background: rgba(0, 0, 0, 0.5);

        img {
            height: auto;
            width: auto;
            max-height: 100px;
        }
        div {
            padding-right: 1.5rem;
            h1 {
                font-size: 2.5rem;
                // color: $darker-color;
                color: white;
            }
            span{
                float: right;
                // color: $eye-color;
                color: white;
            }
        }
    }

    #landing-content {
        margin-top: 45vh;
        
        h1 {
            color: white;
            padding: 3rem;
            font-size: 2.75rem;

            span {
                color: $eye-color;
            }
        }

        .blink {
            margin-top: 10vh;
            text-align: center;
            color: white;
            animation: blink 3s linear infinite;

            a {
                color: white;
            }

            @keyframes blink {
                50% {
                    opacity: 0;
                }
            }
        }
    }
        
}

#home-b {
    background: url(/img/webb.png) repeat;
    .container {
        display: grid;
        // gap: 2rem;
        grid-template-columns: 2fr 1fr 1fr;
    }

    // Our prosthetics needs special formatting for inner content
    #our-prosthetics {
        .inner-cols {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 1rem;
            text-align: center;
            
            div{
                padding: .5rem;
                background: #ededed;
                border-radius: 15px;
            }
        }
    }

    // last card needs static margin right
    #coverage {
        margin-right: 1.5rem;
    }
}